  .outcome {
    width: 33%;
    display: inline-block;
    color: #333;
    padding: .75em 0;
    text-align: center;
    font-size: .9em
  }

  .odds {
    font-weight: normal;
    color: #D92231;
  }